@font-face {
	font-family: 'comfortaa';
	src: url('http://eliteronix.de/comfortaa-regular');
}

body {
	font-family: 'comfortaa', sans-serif, Arial;
}

p {
	position: absolute;
	z-index: 100;
	color: #fff;
	text-align: center;
}

#score {
	font-size: 2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1000;
}

.map {
	position: absolute;
	top: 85px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1000;
}